/* You can add global styles to this file, and also import other style files */

@import './app/scss/variables.scss';
@import '~ngx-toastr/toastr';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
